.flex {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;

  @include media-query($screen-tablet) {
    padding: 2rem 4rem;
  }

  &-block {
    min-height: 100vh;
    width: 100vw;
  }

  &-center {
    justify-content: center;
  }

  &-right {
    @include media-query($screen-tablet) {
      align-items: flex-end;
    }
  }
}

.sticky {
  @include media-query($screen-tablet) {
    position: sticky;
    top: 0;
  }
}
